<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_Prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<!-- 임의의 이름을 만들어준다. -->
  	
  	<servlet-name>myFirstServlet</servlet-name>
  	
  	<!-- 등록할 서블릿 파일명을 패키지명을 포함해서 정확하게 입력 -->
  	<servlet-class>com.servlet.Servlet01</servlet-class>
  	
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>myFirstServlet</servlet-name>
  	
  	<!-- / 로 시작해야 한다. -->
  	<url-pattern>/myServlet</url-pattern>
  
  </servlet-mapping>
  
  
  <!-- 초기화 파라미터는 servlet 태그안에 위치해야 한다. -->
  
  <servlet>
  	
  	<servlet-name>initParam</servlet-name>
  	
  	<servlet-class>com.servlet.Servlet07</servlet-class>
  	
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>mong</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>pw</param-name>
  		<param-value>7777</param-value>
  	</init-param>
  	
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>initParam</servlet-name>
  	
  	<url-pattern>/myServlet2</url-pattern>
  	
  </servlet-mapping>
  
  
  <!-- 여러 서블릿에서 공유해서 사용하는 context-param 데이터 -->
  
  <context-param>
  
  	<param-name>name</param-name>
  	<param-value>홍길동</param-value>
  
  </context-param>
  
  <context-param>
  
  	<param-name>age</param-name>
  	<param-value>20</param-value>
  
  </context-param>
  
  
</web-app>







